<a href="https://colab.research.google.com/github/YMGYM/TSE_Learning/blob/master/Beijjing_air_pollution_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

이 파일은 황철현, 신강욱의
`미세먼지 예측 성능 개선을 위한 CNN-LSTM 결합 방법`
논문의 구현 연습 파일입니다.

데이터셋은 [Beijing PM2.5 데이터셋](https://www.kaggle.com/djhavera/beijing-pm25-data-data-set)
을 사용핬습니다.

# Load Data

In [1]:
! unzip /content/drive/My\ Drive/Datasets/beijing_air.zip -d data

Archive:  /content/drive/My Drive/Datasets/beijing_air.zip
  inflating: data/PRSA_data_2010.1.1-2014.12.31.csv

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('/content/data/PRSA_data_2010.1.1-2014.12.31.csv')

In [4]:
data

          No  year  month  day  hour  pm2.5  ...  TEMP    PRES  cbwd     Iws  Is  Ir
0          1  2010      1    1     0    NaN  ... -11.0  1021.0    NW    1.79   0   0
1          2  2010      1    1     1    NaN  ... -12.0  1020.0    NW    4.92   0   0
2          3  2010      1    1     2    NaN  ... -11.0  1019.0    NW    6.71   0   0
3          4  2010      1    1     3    NaN  ... -14.0  1019.0    NW    9.84   0   0
4          5  2010      1    1     4    NaN  ... -12.0  1018.0    NW   12.97   0   0
...      ...   ...    ...  ...   ...    ...  ...   ...     ...   ...     ...  ..  ..
43819  43820  2014     12   31    19    8.0  ...  -2.0  1034.0    NW  231.97   0   0
43820  43821  2014     12   31    20   10.0  ...  -3.0  1034.0    NW  237.78   0   0
43821  43822  2014     12   31    21   10.0  ...  -3.0  1034.0    NW  242.70   0   0
43822  43823  2014     12   31    22    8.0  ...  -4.0  1034.0    NW  246.72   0   0
43823  43824  2014     12   31    23   12.0  ...  -3.0  1034.0    NW  249.85   0   0

[43824 rows x 13 columns]