<a href="https://colab.research.google.com/github/YMGYM/TSE_Learning/blob/master/Food_rating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 로드 And 처리

In [1]:
import pandas as pd

In [6]:
table = pd.read_csv('/content/drive/My Drive/Datasets/military_food.csv', encoding='CP949' )

In [7]:
table = table.fillna(method='ffill')

In [8]:
table.dropna(subset=["날짜"])

              날짜                      조식  ...  증특식열량         열량합계
5     2020-09-30                       밥  ...    NaN          NaN
6     2020-09-30           감자된장국(05)(06)  ...    NaN          NaN
7     2020-09-30     돼지고기김치찜(05)(06)(10)  ...    NaN          NaN
8     2020-09-30      오징어채볶음(05)(06)(17)  ...    NaN          NaN
9     2020-09-30            깍두기(완제품)(09)  ...    NaN          NaN
...          ...                     ...  ...    ...          ...
1985  2020-10-31  우유(백색우유(200ML,연간))(02)  ...  122.0  2878.79kcal
1986  2020-10-31  우유(백색우유(200ML,연간))(02)  ...  122.0  2878.79kcal
1987  2020-10-31  우유(백색우유(200ML,연간))(02)  ...  122.0  2878.79kcal
1988  2020-10-31  우유(백색우유(200ML,연간))(02)  ...  122.0  2878.79kcal
1989  2020-10-31  우유(백색우유(200ML,연간))(02)  ...  122.0  2878.79kcal

[1985 rows x 10 columns]

In [16]:
table['날짜'] = table['날짜'].apply(lambda x: pd.to_datetime(str(x), format="%Y-%m-%d"))

ValueError: ignored

In [ ]:
start_id = table[table["날짜"] != "None"].index

In [ ]:
len(start_id)

324

In [ ]:
breakfast = table["조식"]
lunch = table["중식"]
dinner = table["석식"]

# 데이터 토큰화

In [ ]:
food_to_id.get("aaa")

In [ ]:
food_to_id = {}
id_to_food = {}

In [ ]:
class Tokenizer():
  def __init__(self):
    self.food_to_id = {}
    self.id_to_food = {}

  def add_token(self, arr):
    for food in arr:
      if food != "None" and self.food_to_id.get(food) == None :
        self.food_to_id[food] = len(self.food_to_id)
        self.id_to_food[len(self.id_to_food)] = food

    print("Done")

  def tokenize(self, arr):
    tokenized = []

    for food in arr:
      if self.food_to_id.get(food) != None:
        tokenized.append(self.food_to_id[food])

    return tokenized

In [ ]:
tokenizer = Tokenizer()

In [ ]:
tokenizer.add_token(breakfast)

Done

In [ ]:
tokenizer.add_token(lunch)

Done

In [ ]:
tokenizer.add_token(dinner)

Done

In [ ]:
len(tokenizer.food_to_id)

716

In [ ]:
tokened_breakfast = tokenizer.tokenize(breakfast)

In [ ]:
tokened_lunch = tokenizer.tokenize(lunch)

In [ ]:
tokened_dinner = tokenizer.tokenize(dinner)

In [ ]:
tokened_dinner[:10]

[594, 75, 20, 3, 595, 322, 338, 33, 596, 54]